@tailwind base;
@tailwind components;
@tailwind utilities;

.root-height {
  height: 100dvh;
  background-image: linear-gradient(to bottom right, #e4e6ff 0%, white 40%, #f7ffe4 100%);
}

.inter {
  font-family: "Inter", sans-serif
}

.josefin {
  font-family: "Josefin Sans", sans-serif
}

.gradient {
  position: absolute;
}

.something-new {
  position: relative;
}

.something-new::after {
  content: '';
  display: block;
  position: absolute;
  right: -5px;
  top: 1px;
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background-color: #ff4b4b;
  border: 1px solid #efedfc;
}

.gr {
  display: hidden;
  filter: blur(6.5rem);
  width: 22rem;
  height: 2.4rem;
}

.gr.alpha {
  top: 3.5rem;
  left: -5.6rem;
  background: #ff7272;
}

.gr.bravo {
  bottom: -2.5rem;
  right: -5.6rem;
  background: rgb(147, 184, 255);
  background: linear-gradient(280deg, rgba(147, 184, 255, 1) 14%, rgba(100, 255, 248, 1) 53%, rgba(82, 255, 221, 1) 100%);
}

.h1-accent {
  background: #CF0C13;
  background: repeating-linear-gradient(to right, #CF0C13 0%, #FF0A95 50%, #FF5724 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.scroll-thin::-webkit-scrollbar {
  width: 10px;
}

.scroll-thin::-webkit-scrollbar-thumb {
  @apply bg-zinc-300
}

@media (max-width: 640px) {
  .gr {
    filter: blur(4rem);
    width: 11rem;
    height: 1.4rem;
  }
}