@tailwind base;
@tailwind components;
@tailwind utilities;

.root-height {
  height: 100dvh;
}

.inter { font-family: "Inter", sans-serif }
.josefin { font-family: "Josefin Sans", sans-serif }

.gradient {
  position: absolute;
}

.gr {
  filter: blur(7.5rem);
  width: 21rem;
  height: 5.4rem;
}

.gr.alpha {
  top: -2.5rem;
  left: -5.6rem;
  background: rgb(255, 170, 226);
  background: linear-gradient(280deg, rgba(255, 170, 226, 1) 14%, rgba(255, 111, 111, 1) 53%, rgba(255, 252, 151, 1) 100%);
}

.gr.bravo {
  bottom: -2.5rem;
  right: -5.6rem;
  background: rgb(254, 255, 128);
  background: linear-gradient(280deg, rgba(254, 255, 128, 1) 14%, rgba(255, 205, 0, 1) 53%, rgba(255, 206, 165, 1) 100%);
}

.h1-accent {
  background: #CF0C13;
  background: repeating-linear-gradient(to right, #CF0C13 0%, #FF0A95 50%, #FF5724 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

@media (max-width: 640px) {
  .gr {
    filter: blur(4rem);
    width: 11rem;
    height: 1.4rem;
  }
}